Source: unity-webapps-pocket
Section: web
Priority: extra
Standards-Version: 0.3
Maintainer: Dennis Altermann <dennisaltermann@gmail.com>
Build-Depends: debhelper (>=7)
Homepage: http://getpocket.com/

Package: unity-webapps-getpocket
Architecture: all
Section: web
Priority: extra
Depends: unity-webapps-common, xdg-utils, ${misc:Depends}
XB-Ubuntu-Webapps-Includes: http://getpocket.com/*;
XB-Ubuntu-Webapps-Name: Pocket
XB-Ubuntu-Webapps-Domain: getpocket.com
Description: Unity Webapp for Pocket
Pocket Webapp for Unity