Package: unity-webapps-getpocket
Source: unity-webapps-pocket
Version: 0.2
Architecture: all
Maintainer: Dennis Altermann <dennisaltermann@gmail.com>
Installed-Size: 106
Depends: unity-webapps-common, xdg-utils
Section: web
Priority: extra
Homepage: http://getpocket.com/
Description: Unity Webapp for Pocket
 Pocket Webapp for Unity
Ubuntu-Webapps-Domain: getpocket.com
Ubuntu-Webapps-Includes: http://getpocket.com/*;
Ubuntu-Webapps-Name: Pocket
